.partida-content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../images/pokémon-arena.png) no-repeat center center;
    background-size: cover;
}